wp-config.php
wp-content/**/*.*
!wp-content/mu-plugins/**/*.*
!wp-content/plugins/**/*.*
!wp-content/themes/**/*.*
!wp-content/languages/**/*.*
!wp-content/maintenance/**/*.*
!wp-content/**/*.php
!wp-content/**/*.phtml
wp-content/aiowps_backups/
*.log
*.sql
wp-content/backups-dup-lite
wp-content/advanced-cache.php
.DS_Store
.ftpquota
.htaccess
.user.ini
.well-known/
error_log
wp-admin/error_log
php.ini
